<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 
        Section 4
        Group 9
        Annelise Anderson, Maleah Yee, Coleman Shuldberg, Joseph Fuge
        Description: Landing page
     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Provo SMUMH</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" type="image/x-icon" href="../assets/favicon.png">
</head>

<body style="display: flex; flex-direction: column; min-height:100vh; margin: 0;">
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container px-5">
            <a class="navbar-brand" href="/">
                <img src="assets/ProvoSMUMHLogoInner.png" class='icon-img' style="width: 50px;"><img
                    src="assets/ProvoSMUMHnewwords.png" class="icon-img" style="width:140px; padding-top:10px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="./survey">Survey</a></li>
                    <li class="nav-item"><a class="nav-link" href="./dashboard">Learn More</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Header-->
    <header class="masthead" style="background-image: url('assets/phones2.jpg'); min-height: 50vh; height:550px;">
        <div class="container position-relative px-1 px-lg-5">
            <div class="row gx-2 gx-lg-5 justify-content-left">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading" style="text-align: left;">
                        <h2 class="font-weight-light" >Social Media Use and Mental Health Survey</h2>
                        <p style=" border-bottom: 3px solid #00A2E0;"></p>
                        <p style="text-align: left;">The Provo Social Media Use and Mental Health Survey (SMUMH) strives to gather city-level data on how social media usage impacts mental health.</p>
                        <div>
                            <a class="btn btn-secondary" style="margin-right:10px;" href="./survey" >Take the Survey</a>
                            <a class="transparent-button" href="./dashboard">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br>
        <!-- Content Row-->
        <div class="container" style="max-width: 1250px; max-height:max-content;">
            <div class="row gx-4 gx-lg-5">
                <!--<div class="col-md-4 mb-5">-->
                <div class="col-sm-4 colS-md-4 col-lg-4 mb-5">
                    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9169592/" target="_blank">
                        <div class="card h-100">
                            <div class="card-body">
                                <br><br>
                                <h1 class="card-title">24.4%</h1>
                                <p class="card-text">of adolescents are social media addicts</p>
                                <br>
                            </div>
                        </div>
                    </a>
                </div>
                <!--<div class="col-md-4 mb-5">-->
                <div class="col-sm-4 col-md-4 col-lg-4 mb-5">
                    <a
                        href="https://www.statista.com/statistics/1369014/us-adults-taking-a-break-from-social-media-for-mental-health" target="_blank">
                        <div class="card h-100">
                            <div class="card-body">
                                <br>
                                <h1 class="card-title">36%</h1>
                                <p class="card-text">of adults have taken an extended break from social media because of its
                                    negative effects on mental health</p>
                                <br>
                            </div>
                        </div>
                    </a>
                </div>
                <!--<div class="col-md-4 mb-5">-->
                <div class="col-sm-4 col-md-4 col-lg-4 mb-5">
                    <a
                        href="https://www.statista.com/statistics/1409808/tiktok-us-opinions-mental-health-effects-by-generation" target="_blank">
                        <div class="card h-100">
                            <div class="card-body">
                                <br><br>
                                <h1 class="card-title">78%</h1>
                                <p class="card-text">of Gen Z believes TikTok to be addictive</p>
                                <br>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <br><br><br><br><br><br><br>
    <!-- Page Content-->
    <div class="container px-4 px-lg-5 flex-grow-1"></div>   
    <!-- Footer-->
    <footer class="py-3" style="background-color: #00a0e089">
        <div class="container px-4 px-lg-5" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
            <p class="m-0 text-center text-white"><a style="color: white;" onmouseover="this.style.color='gray'" onmouseleave="this.style.color='white'" href="/login">Employee Login</a>&thinsp; &thinsp; &thinsp; &thinsp; &thinsp; Copyright &copy; Provo City SMUMH 2023</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>