table {
   margin-top: 10px; 
}

thead {
    border-bottom-color: rgb(57, 55, 55);
    border-bottom-width: 2px;
}

.response-page {
    display: none;
}

.page-0 {
    display: table-row;
}
button {
    margin-right: 5px;
}