table {
   margin-top: 10px; 
}

thead {
    border-bottom-color: rgb(57, 55, 55);
    border-bottom-width: 2px;
}

#showAllButton {
    display: none;
}

#responseSearchBar {
    /* display: inline-block; */
    width: 250px;
    height: 34px;
    margin-bottom: 0px;
}

.response-page {
    cursor: pointer;
    display: none;
}

.page-0 {
    display: table-row;
}

.password-toggle {
    cursor: pointer;
}

form {
    flex: auto;
    flex-direction: column;
}

.test-div
 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    height: auto;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    color: #333;
}

form:not(#searchForm) {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

#searchForm {
    display: inline-block;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.input-error-text {
    margin: 0;
    color: red;
    font-size: 14px;
    display: none;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-toggle {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.submit-button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover {
    background-color: #45a049;
}

button {
    margin-right: 5px;
}

.nav-link:hover {
    cursor: pointer;
}

.response-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.response-column {
    flex: 0 0 48%;
}

#searchTypeSelect {
    display: inline-block;
    width: 125px;
}
